.titleMpt{
    font-size: 5rem;
    text-align: left;
    margin-left: 2rem;
    font-style: italic;
}



@media screen and (max-width: 992px){
    .titleMpt{
        font-size: 3rem;
        margin-top: -2rem;
    }
}
@media screen and (max-width: 479px){
    .titleMpt{
        font-size: 2rem;
    }
}

  

.pMpt{
    font-family: 'Gobold', sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin: 2rem;
    position: relative;
    z-index: 1;
    margin-bottom: 7rem;
    
}


@media screen and (max-width: 992px){
    .pMpt{
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 479px){
    .pMpt{
        font-size: 1rem;
        margin: 1rem;
        margin-bottom: 5rem;
    }
}

.trianguloNos{
    width: 0;
    height: 0;
    border-right: 10rem solid red;
    border-top: 10rem solid red;
    border-left: 10rem solid transparent;
    border-bottom: 10rem solid transparent;
    position: absolute;
    top: 10rem;
    opacity: .5;
    z-index: -2;
}



.trianguloNos2{
    width: 0;
    height: 0;
    border-right:5rem solid rgb(255, 242, 0);
    border-top:5rem solid transparent;
    border-left:5rem solid transparent;
    border-bottom:5rem solid rgb(255, 242, 0);
    position: absolute;
    top:11rem;
    opacity: .6;
    left: 63rem;
}

@media screen and (max-width: 992px){
    .trianguloNos2{
        left: 35rem;
    }
}

@media screen and (max-width: 479px){
    .trianguloNos2{
        left: 10rem;
        top:6rem;
    }
}

.trianguloNos3{
    width: 0;
    height: 0;
    border-right:5rem solid rgb(255, 0, 183);
    border-top:5rem solid transparent;
    border-left:5rem solid transparent;
    border-bottom:5rem solid rgb(255, 0, 183);
    position: absolute;
    top:12rem;
    opacity: .8;
    left: 65rem;
}

@media screen and (max-width: 992px){
    .trianguloNos3{
        left: 37rem;
        
    }
}

@media screen and (max-width: 479px){
    .trianguloNos3{
        left: 13rem;
        top:5rem;
    }
}

.imgFondo{
    max-width: 100%;
    position: absolute;
    top:9rem;
    z-index: -2;
    opacity: .5;
}

@media screen and (max-width: 992px){
    .imgFondo{
        top:7rem
    }
}

.imgFondoCelu{
    display: none;
}

@media screen and (max-width: 479px){
    .imgFondoCelu{
        display: block;
        max-width: 100%;
        position: absolute;
        top:5rem;
        z-index: -2;
        opacity: .5;
    }
    .imgFondo{
        display: none;
    }
}

.logoIcasaNos{
    width: 7rem;
    position: absolute;
    top: 13rem;
    left:65rem;
    z-index: 2;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}



@media screen and (max-width: 992px){
    .logoIcasaNos{
        left: 37rem;
        top:8rem;
        z-index: 0;
    }
}

@media screen and (max-width: 479px){
    .logoIcasaNos{
        width: 3rem;
        left: 20rem;
        top:6rem;
        z-index: 1;
    }
}

.logoVideoN{
    width: 6rem;
    position: absolute;
    margin-top: -8rem;
    margin-left: 67rem;
    filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    z-index: 1;
    animation-name: animacionVideoN; 
    animation-duration:  2s ; 
    animation-iteration-count: infinite;  
}

@keyframes animacionVideoN {
    0% {width:6rem ;}

    50%{width: 6.5rem;}

    100%{width: 6rem;}
}

@media screen and (max-width: 992px){
    .logoVideoN{
        margin-top: -3rem;
        margin-left: 35rem;
        z-index: 1;
       
    }
}

@media screen and (max-width: 479px){
    .logoVideoN{
        width: 3rem;
        margin-top: -4rem;
        margin-left: 11rem;
     @keyframes animacionVideoN {
        0% {width:3rem ;}
    
        50%{width: 3.5rem;}
    
        100%{width: 3rem;}
    }  
    
}
}
