.flags{
    display: flex;
    gap: 1rem;
    img{
        width: 2rem;
        height: 1rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        transition: .5s;
        cursor: pointer;
    }
    img:hover{
        scale: 2;
    }
}

@media screen and (max-width: 768px){
    .flags{
        position: absolute;
        margin-top: 1rem;
        margin-left: 12rem;
    }
}

@media screen and (max-width: 479px){
    .flags{
        margin-top: -1rem;
        margin-left: 5rem;
        width: 1.8rem;
        height: .9rem;
    }
}



