.flags{
    display: flex;
    gap: 1rem;
    img{
        width: 2rem;
        height: 1rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        transition: .5s;
        cursor: pointer;
    }
    img:hover{
        scale: 2;
    }
}

@media screen and (max-width: 992px){
    .flags{
        position: absolute;
        margin-top: 1.8rem;
        margin-left: .5rem;
    }
    
}



