.titleTour{
    font-size: 5rem;
    text-align: left;
    margin-left: 2rem;
    font-style: italic;
}

@media screen and (max-width: 992px){
    .titleTour{
        font-size: 3rem;
    }
}

.pTour{
    font-family: 'Gobold', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    margin: 2rem;
    position: relative;
    z-index: 1;
    padding-bottom: 23rem;
    
}

@media screen and (max-width: 992px){
    .pTour{
        padding-bottom: 5rem;
    }
}

.imgTour{
    max-width: 100%;
    position: absolute;
    top:8rem;
    opacity: .5;
    z-index: -1;
}

.logoVideo{
    width: 6rem;
    position: absolute;
    margin-top: -8rem;
    margin-left: 67rem;
    filter: drop-shadow(3px 3px 3px rgb(255, 255, 255));
    z-index: 1;
    animation-name: animacionVideo; 
    animation-duration:  2s ; 
    animation-iteration-count: infinite;  
}

@keyframes animacionVideo {
    0% {width:6rem ;}

    50%{width: 6.5rem;}

    100%{width: 6rem;}
}

@media screen and (max-width: 992px){
    .logoVideo{
        margin-top: -7rem;
        margin-left: 35rem;
       
    }
}