.navBarFooter{
    font-family: 'Gobold', sans-serif;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    margin-bottom: 10rem;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 992px){
    .navBarFooter{
        display: none;
    }
}

.logoCanam{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, black,  #ff00ff, red, orange, yellow,  rgb(8, 255, 8),);
   position: relative;

    img{
        width: 18rem;
         filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
    p{
        font-family: 'Gobold', sans-serif;
        opacity: .8;
        font-size: 5rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    }
}

@media screen and (max-width: 992px){
    .logoCanam{
        img{
             width: 12rem;
        }
        p{
            font-size: 3rem;
        }
    }
}

.sponsorsFlex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, black,  #ff00ff, red, orange, yellow,  rgb(8, 255, 8),);
    img{
        width: 10rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
}

@media screen and (max-width: 992px){
    .sponsorsFlex{
        img{
            width: 6rem;
        }
    }
}

.fotoFooter{
    max-width: 100%;
    position: absolute;
    opacity: .5;
    
}

.trianguloFooter{
    width: 0;
    height: 0;
    border-right: 5rem solid transparent;
    border-top: 5rem solid transparent;
    border-left: 5rem solid rgb(47, 255, 5);
    border-bottom: 5rem solid rgb(47, 255, 5);
    position: absolute;
    margin-top: -7.7rem;
    opacity: .3;
    left: 3rem;
   
}

.trianguloFooter3{
    width: 0;
    height: 0;
    border-right: 5rem solid transparent;
    border-top: 5rem solid transparent;
    border-left: 5rem solid rgb(160, 0, 133);
    border-bottom: 5rem solid rgb(160, 0, 133);
    position: absolute;
    margin-top: -7.8rem;
    opacity: .6;
    left: 6rem;
}

@media screen and (max-width: 992px){
    .trianguloFooter3{
        margin-top: -10rem;
    }
}
.flexFooter{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;

}

.logosFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    position: relative;
    margin-right: 2rem;
    margin-top: 2rem;
    z-index: 1;
    text-shadow: 1px 1px 1px black;
    img{
        width: 15rem;
    }   
     h1{
        font-size: 2rem;
        
        padding: 0;
        font-family: 'Gobold', sans-serif;
    }
    p{
        font-family: 'Gobold', sans-serif;
        font-size: 1rem;
        
    }
    .logoRedes{
        width: 2rem;
        margin-top: 1rem;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    }
}

.trianguloFooter2{
    width: 0;
    height: 0;
    border-right: 12rem solid  rgb(47, 255, 5);
    border-top: 12rem solid transparent;
    border-left: 12rem solid transparent;
    border-bottom: 12rem solid  rgb(47, 255, 5);
    position: absolute;
    margin-top: -22rem;
    opacity: .3;
    left: 50rem;
}

@media screen and (max-width: 992px){
    .trianguloFooter2{
        left: 33rem;
        border-right: 8rem solid  rgb(47, 255, 5);
        border-top: 8rem solid transparent;
        border-left: 8rem solid transparent;
        border-bottom: 8rem solid  rgb(47, 255, 5);
        margin-top: -16rem;
    }
}

.wordsFooter{
    margin-top: 1rem;
    font-size: 7rem;
    font-family: 'Gobold', sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    opacity: .3;
    padding-left: 5rem;
    font-style: italic;
    transition: .5s;
   
   .accion{
    position: absolute;
   margin-top: -8rem;
   padding-right: 11rem;
  
   }
  
   .avent{
    position: absolute;
   margin-top: -14rem;
   padding-right: 5rem;
  
   }
 
   .adren{
    position: absolute;
   margin-top: -20rem;
   }
   
   .a{
    font-size: 20rem;
    position: absolute;
    margin-top: -25rem;
    padding-right: 37rem;
   }
 
} 

@media screen and (max-width: 992px){
    .wordsFooter{
        .a{
            margin-top: -19rem;
            font-size: 13rem;
            padding-right: 25rem;
        }
        .accion{
            font-size: 3rem;
            margin-top: -7rem;
        }
        .adren{
            font-size: 3rem;
            margin-top: -15rem;
            padding-right: 4rem;
        }
        .avent{
            font-size: 3rem;
            margin-top: -11rem;
            padding-right: 7rem;
        }
    }
}
.wordsFooter:hover{
    opacity: 1;
}

.flexMariano{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    font-family: 'Gobold', sans-serif;
    background-image: linear-gradient(to right, black,rgb(154, 1, 143),black);
    position: relative;
    h6{
       font-size: 1rem; 
       font-style: italic;
       text-shadow: 1px 1px 1px black;
    }
    p{
        margin: 0;
    }
    
}

@media screen and (max-width: 992px){
    .flexMariano{
        margin-top: 0;
    }
}

li{
    color: white;
}

.logoRedesFlex{
    display: flex;
    gap:1rem
}